$white:white;
$black:black;
$gray:#393939;
$blue:#00b4fd;
$green:#00eec9;
$link-border:#00ffd9;
$background-gradient:linear-gradient(to right top, #3ca8437d, #00b07b80, #00b3b082, #00b4d47d, #00b1e77a, #3ab4ed73, #54b9f378, #69bff880, #52d0fe78, #41dfff75, #46eefa7a, #5ffbf173);
$background-banner:linear-gradient(to right, #00ffd9, #00efef, #00ddfe, #00c9ff, #00b4fd);
$font: 'Karla', sans-serif;
$font-bosque:'Conv_BOSQUE', sans-serif;
$font-gothambook:'Conv_GothamBook',Sans-Serif;