@import 'main';

.navbar {
    transition: all 0.4s ease-in-out;

    .nav-item {
        margin: 0 1.3rem;

        @media (max-width: 768px) {
            margin: 0 0rem;
            text-align: right;
        }
    }

    .nav-link {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        font-size: 14px;
        color: $white !important;
        @media (max-width: 1023px) {
            color: $black !important;
            padding-right: 2rem !important;
        }
    }

    .nav-link.active {
        border-bottom: 2px solid $link-border;
    }
    .collapse:not(.show){
        display: block;
    }
}
.navbar.bg-white.py-md-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

}

.navbar.bg-white {
    .nav-link {
        color: $black !important;
    }
}

.navbar svg path {
    fill: $white;
}

.navbar.bg-white svg path {
    fill: $black !important;
}

.sidenav {
    @media (max-width: 1023px) {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: $white;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 100px;
          }
    }
    
.sidenav .closebtn {
    position: absolute;
    top: 13px;
    right: 25px;
    margin-left: 50px;
    svg{
        path{
            fill: $black;
        }
    }
}


header {
    p {
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .font {
        font-size: 68px;

        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    svg {
        transition: all 0.2s ease-in-out;
        @media (max-width: 768px) {
            max-width: 200px;
            height: auto;
        }
        &:hover{
            transform: scale(1.3);
        }
    }

    
    .item-1 {
        position: relative;
        background: url(../images/banner-4.jpg) no-repeat center center/cover;
        min-height: 830px;

        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            min-height: 830px;
            width: 100%;
            background: $background-gradient;
        }
        

        .padding-top {
            padding-top: 211px !important;
        }
    }

    .item-2 {
        position: relative;
        background: url(../images/banner-2.jpg) no-repeat center center/cover;
        min-height: 830px;

        .padding-top {
            padding-top: 211px;
        }
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            min-height: 830px;
            width: 100%;
            background: $background-gradient;
        }
    }

    .item-3 {
        position: relative;
        background: url(../images/banner-3.jpg) no-repeat center center/cover;
        min-height: 830px;

        .padding-top {
            padding-top: 211px;
        }
        &::after{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            min-height: 830px;
            width: 100%;
            background: $background-gradient;
        }
    }
}

.z-index{
    z-index: 999 !important;
}
.border{
    border: 1px solid $green !important;
}
.bg-blue{
    background: $background-banner !important;
}
.text-gray{
    color: $gray;
}
.link-2{
    .link-border{
        border: 2px solid $link-border !important;
        transition: all .3s ease-in-out;
    }
    &:hover{
        .link-border{
            border: 2px solid $link-border !important;
            background: $blue;
            svg{
                fill: $white;
            }
        }
    }
}
.icon-counter {
    padding: 15px 18px;
    border: 1px solid #00ffd9;
    background-color: #00b4fd;
    border-radius: 44px;
    width: 25%;
    height: 75px;
    top: -39px;
    left: 115px;
    svg{
        fill: $white;
    }
    @media (max-width:767px){
        position: relative !important;
        align-items: center !important;
        top: 0px;
        width: 25% !important;
        left: 0px !important;
       
    }
    @media (min-width:768px) and (max-width:1023px){
    width: 24% !important;
    left: 123px !important;

    }
    @media (max-width:1024px){
        width: 35%;
        left: 70px;
    }
}
.card-icon{
    padding: 16px 18px;
    border: 1px solid $green;
    background-color: $blue;
    border-radius: 44px;
    width: 20%;
    height: 76px;
    svg{
        fill: $white;
    }
    @media (max-width:767px){
        height: 80px !important;
        width: 25% !important;
    }
    @media (min-width:768px) and (max-width:1023px){
        width: 41% !important;
    }
    @media (max-width:1024px){
        width: 30%;
    }
}
.card-hover{
    transition: all .3s ease-in-out !important;
    &:hover{
        transform: scale(1.05);
        background: $background-banner;
        color: $white;
    }
}
.contact-icon{
    padding: 16px 16px;
    border: 1px solid $green;
    background-color: $blue;
    border-radius: 44px;
    width: 75%;
    height: 65px;
    svg{
        fill: $white;
    }
    @media (max-width:767px){
        width: 93% !important;
    }
    @media(min-width:768px) and (max-width:1023px){
        width:68% !important;
    }
    @media (max-width:1024px){
        width: 117%;
    }
}
.bg-black{
    background-color: $black;
    color: $white;
}






// scroll animation //@at-root

.hero-slide {
    position: relative;
    .slide__content {
      position: absolute;
      transform: translate(-50%, -50%);
        .animated {
          transition: all .5s ease;
        }
    }
  }
  
  // Change animation presets
  .slider [data-animation-in] {
      opacity: 0;
      animation-duration: 1.5s;
      transition: opacity 0.5s ease 0.3s;
  }